# Redirect everything to /public
<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule    ^$    public/    [L]
#    RewriteRule    (.*) /$1    [L]
    RewriteRule  ((?s).*) public/$1 [L]
</IfModule>