#We then add .htaccess file to our public folder which redirect all calls to index.php.
#Line 3 and 4 make sure that the path requested is not a filename or directory.
#Line 7 redirects all such paths to index.php?url=PATHNAME

<IfModule mod_rewrite.c>
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php?url=$1 [PT,L]

</IfModule>